<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBSITE NAME</title>

</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<style>
    img {
        width: 100%;


    }
</style>
{% block head %}

{% endblock %}


<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0">
                <nav class="navbar navbar-expand bg-primary navbar-dark">
                    <a href="" class="navbar-brand">MyWebsite</a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'home'%}" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'about'%}" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'contact'%}" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                            <div class="dropdown-menu">
                                {% for c in category %}
                                <a href="" class="dropdown-item">{{c.cat_name}}</a>
                                {% endfor %}
                            </div>

                        </li>

                    </ul>
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                        <!-- <h1>login already</h1> -->
                        <li class="nav-item mr-2">
                            <a href="{% url 'user_dashboard'%}" class="nav-link">Welcome {{user.username}}</a>
                        </li>
                        {% else %}
                        
                        <li class="nav-item mr-2">
                            <a href="{% url 'reg'%}" class="btn btn-outline-light">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="btn btn-outline-light" data-toggle="modal"
                                data-target="#mymodal">Login</a>

                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="col-md-12">
                <div class="modal fade" id="mymodal">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button class="close" data-dismiss="modal"> &times;</button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'login_user' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Username</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                            </div>
                                            <input type="text" name="username" class="form-control"
                                                placeholder="Enter Username">

                                        </div>

                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-key"></i>
                                            </span>

                                        </div>

                                        <input type="password" name="password" class="form-control"
                                            placeholder="Enter Password">
                                    </div>
                                    <div class="form-group my-3">

                                        <input type="submit" value="submit" class="btn btn-success">

                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block myblock %}

    {% endblock %}
    <div class="container-fluid">
        <div class="row bg-primary text-light p-5">
            <div class="col-md-4" style="border-right:2px solid white;">
                <h4> Lorem Ipsum</h4>
                <small> Now to compose a text Lorem Ipsum is much more fun!</small>


            </div>
            <div class="col-md-4" style="border-right:2px solid white;">
                <ul>
                    <li> Link 1</li>
                    <li> Link 2</li>
                    <li> Link 3</li>
                </ul>
            </div>
            <div class="col-md-4" style="border-right:2px solid white;">
                <ul>
                    <li> Link 1</li>
                    <li> Link 2</li>
                    <li> Link 3</li>
                </ul>
            </div>
        </div>
    </div>



</body>
</html>
